{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}

<div class="m-2">
<div class="max-w-lg mx-auto">
	{% if dodawanie_zawodnika == 1 %}
	<div class="d-flex justify-content-center pt-5 pb-5">
		<h1 class="text-4xl text-gray-800">Zapisy do konkurencji</h1>
	</div>
	<form method="post" class="mt-0">
		{% csrf_token %}
		{{ form|crispy }}
		<button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md">Dodaj</button>
	</form>
	{% else %}
	<div class="d-flex justify-content-center">
		<h1 class="text-4xl text-gray-800">Rejestracja zamknięta</h1>
	</div>
	{% endif %}
	{% if lista_zarejestrowanych %}
		<div class="justify-content-left">
			<p class="m m-1">Jesteś zarejestrowany do następujących konkurencji:</p> 
			{% for i in lista_zarejestrowanych %}
				<p class="m m-1">{{i.zawody}}</p>
			{% endfor %}
			<br>
			<p class="m m-1"><b>Opłata: </b>{{suma_oplat}} zł</p>

		</div>
	{% endif %}
</div>
</div>
{% endblock content %}
