{% extends "base.html" %}
{% block content %}
{% load tailwind_filters %}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-4 mx-auto">
  	<div class="row justify-content-center">
  		<div class="col-auto">
  			<div class="table-responsive text-center"">
				<h1>Zerowanie hasła</h1>
				<p>Wysłaliśmy wiadomość mail z instrukcją zdefiniowania nowego hasła</p>
				<p>Jeśli nie otrzymałeś tej wiadomości, to upewnij się, że w formularzu zerowania hasła wpisałeś adres mail podany podczas zakładania konta</p>
				</div>
			</div>
		</div>
  </div>
</section>

{% endblock content %}	