{% load static %}
<!DOCTYPE html>
<html>
	

	<head>
		<title>Zawody strzeleckie</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href="{% static 'css/static.css' %}" rel="stylesheet">
	    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


	</head>
{% block content %}
{% load tailwind_filters %}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-4 mx-auto">
  	<div class="row justify-content-center">
  		<div class="col-auto">
  			<div class="table-responsive text-center"">
				<h2>Zerowanie hasła</h2>
				<p>Hasło zostało zdefiniowane. Możesz się już zalogować</a>.</p>
			</div>
		</div>
	</div>
  </div>
</section>

{% endblock content %}	

</html>