<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-4 mx-auto">
  	<div class="row justify-content-center">

  		<div class="col-auto">
					<div class="container px-2 py-4">
					<p class="text-justify">
						Zgodnie z art. 13 ust. 1 i ust. 2 ROZPORZĄDZENIE PARLAMENTU
						EUROPEJSKIEGO I RADY (UE) 2016/679 z dnia 27 kwietnia 2016 r. w
						sprawie ochrony osób fizycznych w związku z przetwarzaniem danych
						osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia
						dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) informuję,
						że Administratorem danych osobowych jest Legionowskie Towarzystwo
						Sportowe. Kontakt do Administratora Danych
						Osobowych:  sekcjamilosnikow@gmail.com
						<br>
						<br>
						Państwa dane osobowe mogą być przetwarzane w celu:
						<br>
						<br>
						- uczestnictwa w zawodach strzeleckich i będą przetwarzane przez
						okres 6 lat od końca roku, w którym odbyły się zawody.
						<br>
						<br>
						Pani/Pana dane osobowe mogą zostać udostępnione podmiotom
						udostępnionym z mocy prawa lub podmiotom współpracującym z
						Administratorem Danych Osobowych w zakresie obsługi finansowo -
						księgowej oraz IT.
						<br>
						<br>
						Administrator Danych Osobowych nie planuje przekazywania Pani/Pana
						danych osobowych do państw trzecich lub organizacji międzynarodowych.
						Posiada Pani/Pan prawo dostępu do treści swoich danych oraz prawo ich
						sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia
						danych, prawo wniesienia sprzeciwu.
						<br>
						<br>
						Ma Pani/Pan prawo wniesienia skargi do właściwego organu nadzorczego w
						zakresie ochrony danych osobowych.
						<br>
						<br>
						Podanie przez Panią/Pana danych osobowych jest warunkiem korzystania z
						serwisu. Jest Pani/Pan zobowiązana/-y do ich podania, a konsekwencją
						niepodania danych osobowych będzie brak możliwości współpracy z
						Administratorem.
						<br>
						<br>
						Administrator Danych Osobowych nie realizuje oraz nie planuje realizacji
						operacji w sposób zautomatyzowany, w tym profilowania, o którym mowa w
						art. 22 ust. 1 i 4, ogólnego rozporządzenia o ochronie danych.


					</p>
				</div>
			</div>
		</div>
  </div>
</section>